.body-start{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bg_dark_grey.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.box{
	width:300px;
	padding: 40px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	text-align: center;
	border-radius: 24px;
	box-shadow: 5px 10px;
}

.box h1{
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type="text"],.box input[type="email"],.box input[type="password"]{
	width:160px;
	border: 0;
	border-bottom: 2px solid black;
	background: none;
	display: block;
	margin: 0px auto;
	text-align: center;
	outline: none;	
}

.box input[type="submit"]{
	border-radius: 20px;
	padding: 10px 30px;
	transition: 0.25s;
	cursor:pointer;
}

.box input[type="submit"]:hover{
	background: #2ecc71;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.form-box{
	width: 300px;
	position: absolute;
	background: white;
	padding: 40px;
	top: 50%;
	left: 50%;
	border-radius: 25px;
	box-shadow: 10px 10px #131720;
	transform: translate(-50%, -50%); 
	text-align: center;
}
.form-box a{
	text-decoration: none;
	color: black;
}

.form-box a:hover{
	color: #2ecc71;
}

.form-box h1{
	color: black;
	text-transform: uppercase;
	font-weight: 500;
}

.form-box input[type = "text"], .form-box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3a4660;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
}

.form-box input[type = "text"]:focus, .form-box input[type = "password"]:focus{
	width: 280px;
	border-color: #2ecc71;
}

.form-box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.form-box input[type = "submit"]:hover{
	background: #2ecc71;
}

.navbar-nav a:hover{
    color:black;
    background-color: #df9142;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(BGimg_home.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.title h1{
    color: white;
    font-size: 70px;
    font-family:  'Trebuchet MS' ;
    
}

h3{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%); 
    color: white;
    font-style: oblique;
}

.display_dabba{
	background-color: white;	
}

.display_dabba img{
width: 200px;
height: 240px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}


.product{
	border-radius: 0 0 4px 4px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}