{% load static %}
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'tshirtapp/style.css' %}">
    </head>
    <body>
        <form action="login" action="login" method="post">
            {% csrf_token %}
            <div class='form-box'>
				<img src="{% static 'tshirtapp/logo.jpg' %}">
				<h1>Login</h1>
				<input type="text" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login">
                or Register using <a href="signup"><strong>Signup</strong></a>
			</div>
        </form>
    </body>
</html>