{% load static %}
<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" type="text/css" href="{% static 'tshirtapp/style.css' %}">
    </head>
    <body>
        <div class='body-start'>
                <form class="box" action="signup" method="POST">
                {% csrf_token %}
                <img src="{% static 'tshirtapp/logo.jpg' %}">
                <h1>Signup </h1>
                <input type='text' name='firstname' placeholder="First Name" /><br/> </br>
                <input type='text' name='lastname' placeholder="Last Name" /></br></br>
                <input type='text' name='username' placeholder="Username" /></br></br>
                <input type='email' name='email' placeholder="Email" /><br/></br>
                <input type='password' name='password' placeholder="Password" /><br/>
                    </br>
                <input type='password' name='cpassword'placeholder="Confirm Password"/><br/></br>
                <input type='submit' value="Register"/>
                </form>
            <div>
            {% for message in messages %}
            <h2>{{message}}</h2>
            {% endfor %}
            </div>
        </div>
    </body>
</html>
